@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
.primary-text {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  font-family: Mulish;
  text-align: center;
}
.secondary-text {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}
.primary-btn {
  width: 174px;
  height: 52px;
  background-color: var(--btn-color);
  border: 0;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 800;
}

/* common style  */

:root {
  --btn-color: #ff5400;
}

/* <!-- section-1-start --> */

header {
  max-width: 1170px;
  height: auto;
  margin: 50px auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 42px;
  justify-content: flex-end;
}
.nav-menu ul a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}
.menu-right {
  width: 50%;
}
.menu-left {
  width: 50%;
  display: flex;
  align-items: center;
}
.menu-left h3 {
  margin-left: 20px;
  color: #131318;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
}
.menu-left h3 span {
  color: var(--btn-color);
  font-size: 36px;
}
/* <!-- section-1-end --> */

/* section-2-start */

.banner-section {
  max-width: 1170px;
  height: auto;
  margin: 50px auto;
}
.banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("./Images/Group\ 13\ \(1\)\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  border: 16px;
  padding: 120px 0;
}
.banner-content > h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  text-align: center;
}
.banner-content > p {
  color: #fff;

  text-align: center;

  font-size: 16px;

  font-weight: 400;
  padding: 20px 0;
  /* line-height: 26px; */
}

.banner-button {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 65%;
  margin: 0 auto;
}
.banner-btn {
  width: 174px;
  height: 52px;
  color: rgba(19, 19, 24, 0.5);
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  padding: 0 10px;
}
.bnr-btn1 > i {
  position: relative;
  left: 64px;
  bottom: -3px;
  font-size: 20px;
}
.bnr-btn2 > i {
  position: relative;
  left: 40px;
  bottom: -3px;
  font-size: 20px;
}
.bnr-bnt3 {
  text-align: center;
  background-color: var(--btn-color);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
.bnr-bnt3 > i {
  margin-right: 15px;
}

/* section-2-end */

/* section-3-start */

.section-3 {
  width: 1170px;
  height: auto;
  margin: 50px auto;
}
.section-3-content-img {
  display: flex;
  gap: 50px;
}
.section-3-left {
  text-align: left;
}

.section-3-right img {
  width: 540px;
  height: 550px;
}
.section-3-left p {
  line-height: 26px;
  padding-top: 24px;
  text-align: left;
}
.section-3-left h2 {
  text-align: left;
}
.section-3-left ul li {
  line-height: 26px;
  padding: 15px;
}

/* section-3-end */

/* section-4-start */

.section-4 {
  max-width: 1170px;
  height: auto;
  margin: 80px auto;
}

.section-4-content {
  width: 600px;
  margin: auto;
}
.sec-4-img {
  display: flex;
  gap: 20px;
}
.section-4-img {
  padding-top: 50px;
}
.box {
  position: relative;
}
.box p {
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: 800;
  position: relative;
  bottom: 170px;
}
.section-4-content p {
  padding-top: 20px;
}

/* section-4-end */

/* section-5-start */

.section-5 {
  width: 1170px;
  height: auto;
  margin: auto;
}
.section-5 p {
  width: 70%;
  margin: 10px auto;
  line-height: 30px;
  text-align: center;
}
.section-5-card {
  margin-top: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.card h4 {
  color: #131318;
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
}
.card {
  padding: 30px 20px;
  border: 2px solid black;
}
#card-1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
#card-1 > p {
  width: 80%;
  margin-left: 0;
  color: #5a5a5d;
  font-size: 16px;
  line-height: 26px;
}
#card-2 > p {
  width: 80%;
  margin-left: 0;
  color: #5a5a5d;
  font-size: 16px;
  line-height: 26px;
}
#card-2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
#card-3 > p {
  width: 80%;
  margin-left: 0;
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
#card-3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  width: 50%;
  margin: 20px auto;
}
/* section-5-end */

/* section-6-start */
.section-6 {
  max-width: 1170px;
  margin: 80px auto;
}
.section-bg {
  background-image: url("./Images/Group\ 39.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  position: relative;
  margin-top: 20px;
}
.full-card-deals {
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  width: 450px;
  padding: 50px;
  position: absolute;
  top: 50px;
  left: 570px;
}
.full-card-deals > p {
  color: var(--btn-color);
  font-size: 18px;
  font-weight: 800;
  padding: 10px 0;
}
.sec-6-top-content > i {
  color: var(--btn-color);
}
.section-box-content {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.sec-6-top-content {
  display: flex;
  gap: 15px;
  padding-bottom: 20px;
}
#section-bg2 {
  background-image: url("./Images/Group\ 40.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  position: relative;
  margin-top: 20px;
}
#full-card-deals2 {
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  width: 450px;
  padding: 50px;
  position: absolute;
  top: 50px;
  right: 70px;
}

/* section-7-start */

.section-7 {
  margin-top: 100px;
}
.youtube iframe {
  border-radius: 16px;
}
/* .section-7-end */

/* section-8-start */

.section-8 {
  max-width: 1170px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#form {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 20px;
  /* align-items: center; */
}
#form input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: 0;
  padding: 15px;
  width: 70%;
  font-size: 16px;
}

.section-8-left h4 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.section-8-left p {
  color: #5a5a5d;
  font-size: 16px;
  line-height: 26px;
  padding-top: 20px;
}
#btn-news {
  width: 70%;
}

.section-8-img img {
  width: 100%;
  height: auto;
}
/* section-8-end */

/* extra */

.boxo-part {
  padding: 100px 0;
  width: 1170px;
  margin: auto;
}
.boxo-text {
  width: 60%;
  margin: auto;
}
.boxo-text p {
  margin: 20px 0;
  font-size: 18px;
}

.boxo-img {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.boxo img {
  width: 100%;
  transition: 0.8s;
  border-radius: 10px;
}

.boxo1:hover img {
  transform: rotate(360deg) scale(1.2);
}

.boxo2:hover img {
  transform: rotate(30deg) scale(1.2);
}

.boxo3:hover img {
  transform: rotate(-30deg) scale(1.2);
}

.boxo4:hover img {
  transform: rotate(80deg) scale(1.2);
}

.boxo5:hover img {
  transform: scale(1.5);
}

.boxo6:hover img {
  transform: rotate(-30deg) scale(1.5);
}
/* extra end */

/* footer start */

.footer {
  background: rgba(19, 19, 24, 0.05);
  text-align: center;
  padding: 100px 0;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-top-contet h3 {
  color: #131318;
  font-size: 30px;
  font-weight: 800;
}
.footer-contet p {
  width: 50%;
  margin: 10px auto;
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.footer-icon i {
  font-size: 25px;
  margin-right: 20px;
}
hr {
  border: 1px solid rgba(19, 19, 24, 0.1);
  width: 80%;
  margin: auto;
}
#copyright {
  margin-top: 40px;
  color: #131318;
  /* font-family: Inter; */
  font-size: 18px;
  font-weight: 300;
}
